<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% block stylesheets %}
        <style>
            .lds-dual-ring {
                position: absolute;
                margin-top;: - 200 px;
                display: inline-block;
                width: 80px;
                height: 80px;
            }

            .lds-dual-ring:after {
                content: " ";
                display: block;
                width: 64px;
                height: 64px;
                margin: 8px;
                border-radius: 50%;
                border: 6px solid #000;
                border-color: #000 transparent #000 transparent;
                animation: lds-dual-ring 1.2s linear infinite;
            }

            @keyframes lds-dual-ring {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        </style>
    {% endblock %}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('homepage') }}">Магазин</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('order') }}">Карзина</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Список
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Ссылка</a>
                        <a class="dropdown-item" href="#">Ссылка</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Ссылка</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
            </form>
        </div>
    </nav>
    {% block body %}
        <div class="container">
            <div class="row py-3">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 order-2" id="sticky-sidebar">
                    <div class="sticky-top">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title">Ваш заказ:</h5>
                                <hr>
                                <div id="basket">
                                    {{ basket | raw }}
                                </div>
                                <hr>
                                <a class="btn btn-outline-success" href="{{ path('order') }}">Оформить заказ</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" id="sticky-sidebar">
                    {% for category in categorys %}
                        <div class="row">
                            <div class="container">
                                <h2>{{ category.name }}</h2>
                                {% for product in products %}
                                    {% if product.getCategory().id == category.id %}
                                    <div class="card" style="width: 100%;">
                                        <img src="{{ asset('/image/ruchka.jpg') }}" class="card-img-top" alt="altfoto"
                                             style="width: 200px">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ product.name }}</h5>
                                            <p>{{ product.description }}</p>
                                            {% for feature in product.getFeatures() %}
                                                <div class="row">
                                                    <label>
                                                        <input type="radio" data-value="{{ feature.id }}" checked
                                                               name="{{ feature.id }}">{{ feature.size }}
                                                        <s>{{ feature.getOldPrice() }}</s>{{ feature.price }}р
                                                    </label>
                                                    <hr>
                                                    <button type="button" data-product="{{ product.id }}"
                                                            data-feature="{{ feature.id }}"
                                                            class="btn btn-outline-success btnOrder">Заказать
                                                    </button>

                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col p-0" id="main">
                    {% if success is defined %}
                        <div class="row">
                            <div class="alert alert-success" role="alert">
                                <p>Спасибо за заказ! С вами свяжетсвя менеджер!</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="{{ asset('js/lib/popper.min.js') }}"></script>
<script src="{{ asset('js/lib/bootstrap.min.js') }}"></script>
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.btnOrder').on('click', function () {
                let url = '{{ path('basket') }}';
                let data = {
                    feature_id: $(this).parent().find('input[type=radio]:checked').attr('data-value')
                };
                if (!$(this).parent().find('input[type=radio]:checked').attr('data-value'))
                    data.feature_id = $(this).attr('data-feature');

                $.ajax({
                    url: url,
                    method: 'POST',
                    data: data,
                    beforeSend: function () {
                        $('#loader').html('<div class="lds-dual-ring"></div>');
                    }
                }).done(function (response) {
                    $('#basket').html(response);
                });
            });
        });

    </script>
{% endblock %}
</body>
</html>
