<div class="row">
    <div class="container">
        {% if products %}
            <div class="row">
                <div class="container">Количество | Размер | Название | Цена</div>
            </div>
        {% else %}
            <div class="row">
                <div class="container">Ваша карзина пуста</div>
            </div>
        {% endif %}
        <div id="loader"></div>
        {% for i in products %}
            <div class="row">
                <div class="container">
                <span>{{ i.count }}&nbsp;</span>
                <span>{{ i.feature.size }}&nbsp;</span>
                <span>{{ i.feature.product.name }}&nbsp;</span>
                <span>{{ i.feature.price }}</span>
                </div>
            </div>
        <hr>
        {% endfor %}
        {% if products %}
            <div class="row">
                <div class="container">Общая сумма: {{ sum }}</div>
            </div>
        {% endif %}
    </div>
</div>