{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}

    <div class="container mt-5">
        {% if features is empty %}
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <p>Записи отсутствуют.</p>
                </div>
            </div>
        {% else %}
            {% for i in products %}
                <div class="row">
                    <div class="col-12 p-0 mt-1">
                        <div class="alert alert-primary" role="alert">
                            <div class="row justify-content-between">
                                <div class="col-auto">{{ i.feature.product.name }} {{ i.feature.size }} {{ i.feature.price }}</div>
                                <div class="col-auto">
                                    <a class="btn btn-outline-danger" href="{{ path('deleteOrder', {'id':i.feature.id}) }}">Удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="container content">
                <div class="row justify-content-center">
                    <div class="col-4 pt-4">
                        <h3>Оформление заказа</h3>
                        {{ form(form, {'method':'POST','attr': {'id': 'formOrder'}}) }}
                        <button class="btn btn-secondary w-100 mt-2" id="btnOrderForm">Заказать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $('#btnOrderForm').on('click', function (e) {
            e.preventDefault();

            let url = '{{ path('order') }}';
            let data = $('#formOrder').serialize();

            $.ajax({
                method: 'POST',
                url: url,
                data: data
            }).done(function (response) {
                if (response.status==="success"){
                    swal({
                        icon: "success",
                        title: "Успешно!",
                        text: "Спасибо за заказ, с вами свяжется менеджер!"
                    }).then(function () {
                        location.reload();
                    });
                }
                else{
                    swal({
                        icon: "error",
                        title: "Упс!",
                        text: "Проверьте правильность заполнения полей"
                    });
                }
            });

            return false;
        });
    </script>
{% endblock %}